/* Unterstrich.css */
._fl--n {
  float: none; }

._fl--l {
  float: left; }

._fl--r {
  float: right; }

._cl--n {
  clear: none; }

._cl--l {
  clear: left; }

._cl--r {
  clear: right; }

._cl--b {
  clear: both; }

._d--n {
  display: none; }

._d--b {
  display: block; }

._d--f {
  display: flex; }

._d--if {
  display: inline-flex; }

._d--i {
  display: inline; }

._d--ib {
  display: inline-block; }

._v--v {
  visibility: visible; }

._v--h {
  visibility: hidden; }

._ov--v {
  overflow: visible; }

._ov--h {
  overflow: hidden; }

._ov--s {
  overflow: scroll; }

._ov--a {
  overflow: auto; }

._ta--l {
  text-align: left; }

._ta--c {
  text-align: center; }

._ta--r {
  text-align: right; }

._ta--j {
  text-align: justify; }
