/* Unterstrich.css */
._pos {
  position: static !important; }
  ._pos--s {
    position: static; }
  ._pos--a {
    position: absolute; }
  ._pos--r {
    position: relative; }
  ._pos--f {
    position: fixed; }

._t {
  top: auto !important; }
  ._t--a {
    top: auto; }

._r {
  right: auto !important; }
  ._r--a {
    right: auto; }

._b {
  bottom: auto !important; }
  ._b--a {
    bottom: auto; }

._l {
  left: auto !important; }
  ._l--a {
    left: auto; }

._z {
  z-index: auto !important; }
  ._z--a {
    z-index: auto; }

._fl {
  float: none !important; }
  ._fl--n {
    float: none; }
  ._fl--l {
    float: left; }
  ._fl--r {
    float: right; }

._cl {
  clear: none !important; }
  ._cl--n {
    clear: none; }
  ._cl--l {
    clear: left; }
  ._cl--r {
    clear: right; }
  ._cl--b {
    clear: both; }

._d {
  display: inline !important; }
  ._d--n {
    display: none; }
  ._d--b {
    display: block; }
  ._d--f {
    display: flex; }
  ._d--if {
    display: inline-flex; }
  ._d--i {
    display: inline; }
  ._d--ib {
    display: inline-block; }
  ._d--li {
    display: list-item; }
  ._d--ri {
    display: run-in; }
  ._d--cp {
    display: compact; }
  ._d--tb {
    display: table; }
  ._d--itb {
    display: inline-table; }
  ._d--tbcp {
    display: table-caption; }
  ._d--tbcl {
    display: table-column; }
  ._d--tbclg {
    display: table-column-group; }
  ._d--tbhg {
    display: table-header-group; }
  ._d--tbfg {
    display: table-footer-group; }
  ._d--tbr {
    display: table-row; }
  ._d--tbrg {
    display: table-row-group; }
  ._d--tbc {
    display: table-cell; }
  ._d--rb {
    display: ruby; }
  ._d--rbb {
    display: ruby-base; }
  ._d--rbbg {
    display: ruby-base-group; }
  ._d--rbt {
    display: ruby-text; }
  ._d--rbtg {
    display: ruby-text-group; }

._v {
  visibility: visible !important; }
  ._v--v {
    visibility: visible; }
  ._v--h {
    visibility: hidden; }
  ._v--c {
    visibility: collapse; }

._ov {
  overflow: visible !important; }
  ._ov--v {
    overflow: visible; }
  ._ov--h {
    overflow: hidden; }
  ._ov--s {
    overflow: scroll; }
  ._ov--a {
    overflow: auto; }

._ovx {
  overflow-x: visible !important; }
  ._ovx--v {
    overflow-x: visible; }
  ._ovx--h {
    overflow-x: hidden; }
  ._ovx--s {
    overflow-x: scroll; }
  ._ovx--a {
    overflow-x: auto; }

._ovy {
  overflow-y: visible !important; }
  ._ovy--v {
    overflow-y: visible; }
  ._ovy--h {
    overflow-y: hidden; }
  ._ovy--s {
    overflow-y: scroll; }
  ._ovy--a {
    overflow-y: auto; }

._rsz {
  resize: none !important; }
  ._rsz--n {
    resize: none; }
  ._rsz--b {
    resize: both; }
  ._rsz--h {
    resize: horizontal; }
  ._rsz--v {
    resize: vertical; }

._cur {
  cursor: auto !important; }
  ._cur--a {
    cursor: auto; }
  ._cur--d {
    cursor: default; }
  ._cur--c {
    cursor: crosshair; }
  ._cur--he {
    cursor: help; }
  ._cur--m {
    cursor: move; }
  ._cur--p {
    cursor: pointer; }
  ._cur--t {
    cursor: text; }

._m {
  margin: 0 !important; }

._mt {
  margin-top: 0 !important; }

._mr {
  margin-right: 0 !important; }

._mb {
  margin-bottom: 0 !important; }

._ml {
  margin-left: 0 !important; }

._p {
  padding: 0 !important; }

._pt {
  padding-top: 0 !important; }

._pr {
  padding-right: 0 !important; }

._pb {
  padding-bottom: 0 !important; }

._pl {
  padding-left: 0 !important; }

._bxz {
  box-sizing: content-box !important; }
  ._bxz--cb {
    box-sizing: content-box; }
  ._bxz--bb {
    box-sizing: border-box; }

._bxsh {
  box-shadow: none !important; }
  ._bxsh--n {
    box-shadow: none; }

._w {
  width: auto !important; }
  ._w--a {
    width: auto; }

._h {
  height: auto !important; }
  ._h--a {
    height: auto; }

._maw {
  max-width: none !important; }
  ._maw--n {
    max-width: none; }

._mah {
  max-height: none !important; }
  ._mah--n {
    max-height: none; }

._miw {
  min-width: 0 !important; }

._mih {
  min-height: 0 !important; }

._fw {
  font-weight: normal !important; }
  ._fw--nm {
    font-weight: normal; }
  ._fw--b {
    font-weight: bold; }
  ._fw--br {
    font-weight: bolder; }
  ._fw--lr {
    font-weight: lighter; }

._fs {
  font-style: normal !important; }
  ._fs--nm {
    font-style: normal; }
  ._fs--i {
    font-style: italic; }
  ._fs--o {
    font-style: oblique; }

._va {
  vertical-align: baseline !important; }
  ._va--sup {
    vertical-align: super; }
  ._va--t {
    vertical-align: top; }
  ._va--tt {
    vertical-align: text-top; }
  ._va--m {
    vertical-align: middle; }
  ._va--bl {
    vertical-align: baseline; }
  ._va--b {
    vertical-align: bottom; }
  ._va--tb {
    vertical-align: text-bottom; }
  ._va--sub {
    vertical-align: sub; }

._ta {
  text-align: start !important; }
  ._ta--l {
    text-align: left; }
  ._ta--c {
    text-align: center; }
  ._ta--r {
    text-align: right; }
  ._ta--j {
    text-align: justify; }

._tal {
  text-align-last: auto !important; }
  ._tal--a {
    text-align-last: auto; }
  ._tal--l {
    text-align-last: left; }
  ._tal--c {
    text-align-last: center; }
  ._tal--r {
    text-align-last: right; }

._td {
  text-decoration: none !important; }
  ._td--n {
    text-decoration: none; }
  ._td--u {
    text-decoration: underline; }
  ._td--o {
    text-decoration: overline; }
  ._td--l {
    text-decoration: line-through; }

._ti {
  text-indent: 0 !important; }

._none {
  text-transform: none !important; }
  ._none--n {
    text-transform: none; }
  ._none--c {
    text-transform: capitalize; }
  ._none--u {
    text-transform: uppercase; }
  ._none--l {
    text-transform: lowercase; }

._tsh {
  text-shadow: none !important; }
  ._tsh--n {
    text-shadow: none; }

._lh {
  line-height: normal !important; }
  ._lh--nm {
    line-height: normal; }

._lts {
  letter-spacing: normal !important; }
  ._lts--nm {
    letter-spacing: normal; }

._whs {
  white-space: normal !important; }
  ._whs--nm {
    white-space: normal; }
  ._whs--p {
    white-space: pre; }
  ._whs--nw {
    white-space: nowrap; }
  ._whs--pw {
    white-space: pre-wrap; }
  ._whs--pl {
    white-space: pre-line; }

._wob {
  word-break: normal !important; }
  ._wob--nm {
    word-break: normal; }
  ._wob--k {
    word-break: keep-all; }
  ._wob--ba {
    word-break: break-all; }

._wos {
  word-spacing: normal !important; }
  ._wos--nm {
    word-spacing: normal; }

._wws {
  word-wrap: normal !important; }
  ._wws--nm {
    word-wrap: normal; }
  ._wws--b {
    word-wrap: break-word; }

._bg {
  background: none !important; }
  ._bg--n {
    background: none; }

._bgc {
  background-color: transparent !important; }
  ._bgc--t {
    background-color: transparent; }

._bgc {
  background-image: none !important; }
  ._bgc--n {
    background-image: none; }

._bgr {
  background-repeat: repeat !important; }
  ._bgr--n {
    background-repeat: no-repeat; }
  ._bgr--x {
    background-repeat: repeat-x; }
  ._bgr--y {
    background-repeat: repeat-y; }
  ._bgr--sp {
    background-repeat: space; }
  ._bgr--rd {
    background-repeat: round; }

._bga {
  background-attachment: scroll !important; }
  ._bga--f {
    background-attachment: fixed; }
  ._bga--s {
    background-attachment: scroll; }

._bgp {
  background-position: 0% 0% !important; }
  ._bgp--t {
    background-position: top; }
  ._bgp--r {
    background-position: right; }
  ._bgp--b {
    background-position: bottom; }
  ._bgp--l {
    background-position: left; }

._bgcp {
  background-clip: border-box !important; }
  ._bgcp--bb {
    background-clip: border-box; }
  ._bgcp--pb {
    background-clip: padding-box; }
  ._bgcp--cb {
    background-clip: content-box; }

._bgo {
  background-origin: padding-box !important; }
  ._bgo--pb {
    background-origin: padding-box; }
  ._bgo--bb {
    background-origin: border-box; }
  ._bgo--cb {
    background-origin: content-box; }

._bgsz {
  background-size: auto auto !important; }
  ._bgsz--a {
    background-size: auto; }
  ._bgsz--ct {
    background-size: contain; }
  ._bgsz--cv {
    background-size: cover; }
