$properties: (

  float: (
    abbreviation: fl,
    snippets: (
      n: none,
      l: left,
      r: right
    )
  ),

  clear: (
    abbreviation: cl,
    snippets: (
      n: none,
      l: left,
      r: right,
      b: both
    )
  ),

  display: (
    abbreviation: d,
    snippets: (
      n: none,
      b: block,
      f: flex,
      if: inline-flex,
      i: inline,
      ib: inline-block
    )
  ),

  visibility: (
    abbreviation: v,
    snippets: (
      v: visible,
      h: hidden
    )
  ),

  overflow: (
    abbreviation: ov,
    snippets: (
      v: visible,
      h: hidden,
      s: scroll,
      a: auto
    )
  ),

  text-align: (
    abbreviation: ta,
    snippets: (
      l: left,
      c: center,
      r: right,
      j: justify
    )
  )
);
